*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app{
  background-color: black;
  height: 100vh;
}
.app-white{
  background-color: white;
  height: 100vh;
}
.main-conatiner{
  display: flex;
  height: calc(100% - 90px);
  margin: auto 0px;
}
.text-conatiner{
  display: flex;
  z-index: 20;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text{
  font-size: 105px;
  color: rgb(240,56,0);
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 60px;
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}
.text:hover{
  padding-left:15px;
}
.theme{
  display: flex;
  width: max-content;
  position: sticky;
  color: beige;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  top: 10px;
  margin-right: 50px;
  padding-top: 40px;
  font-size: 10px;
}
.main-box{
  width: 100%;
  position: relative;
}
@media screen and (max-width: 400px) {
  .text{
    font-size: 45px;
    line-height:50px;
  }
}