*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app{
  background-color: black;
  height: 100vh;
}
.app-white{
  background-color: white;
  height: 100vh;
}
.main-conatiner{
  display: flex;
  height: 100%;
}
.text-conatiner{
  display: flex;
  z-index: 20;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text{
  font-size: 105px;
  color: rgb(240,56,0);
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 60px;
}
.white-text{
  color: white;
}
.black-text{
  color: black;
}
.text:hover{
  padding-left:13px;
}
.theme{
  display: flex;
  width: max-content;
  justify-self: flex-end;
  position: absolute;
  right: 70px;
  margin-top: 40px;
  color: beige;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}